include *.rst *.txt tox.ini .coveragerc LICENSE .pre-commit-config.yaml pyproject.toml
exclude src/argon2/_ffi.py .gitmodules extras/libargon2/.git *.yml
graft tests
graft .github
recursive-exclude tests *.pyc
graft extras
graft docs
prune docs/_build
