---
name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  # Allow rebuilds via API.
  repository_dispatch:
    types: rebuild

jobs:
  tests:
    name: "Python ${{ matrix.python-version }}"
    runs-on: "ubuntu-latest"
    env:
      USING_COVERAGE: "3.9"

    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10.0-beta - 3.10", "pypy3"]

    steps:
      - uses: "actions/checkout@v2"
        with:
          submodules: "recursive"
      - uses: "actions/setup-python@v2"
        with:
          python-version: "${{ matrix.python-version }}"
      - name: "Install dependencies"
        run: |
          set -xe
          python -VV
          python -m site
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install --upgrade coverage[toml] virtualenv tox tox-gh-actions

      - name: "Run tox targets for ${{ matrix.python-version }}"
        run: "python -m tox"

      - name: "Combine coverage"
        run: |
          set -xe
          python -m coverage combine
          python -m coverage xml
        if: "contains(env.USING_COVERAGE, matrix.python-version)"
      - name: "Upload coverage to Codecov"
        uses: "codecov/codecov-action@v1"
        if: "contains(env.USING_COVERAGE, matrix.python-version)"
        with:
          fail_ci_if_error: true

  system-package:
    runs-on: "ubuntu-latest"
    name: "Install and test with system package of Argon2."
    steps:
      - uses: "actions/checkout@v2"
      - uses: "actions/setup-python@v2"
        with:
          python-version: "3.9"
      - name: "Install dependencies"
        run: |
          set -xe
          sudo apt-get install libargon2-0 libargon2-0-dev
          # Ensure we cannot use our own Argon2 by accident.
          rm -rf extras
          python -VV
          python -m site
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install --upgrade virtualenv tox

      - name: "Run tox -e system-argon2"
        run: "python -m tox -e system-argon2"

  package:
    name: "Build & verify package"
    runs-on: "ubuntu-latest"

    steps:
      - uses: "actions/checkout@v2"
        with:
          submodules: "recursive"
      - uses: "actions/setup-python@v2"
        with:
          python-version: "3.9"

      - name: "Install build, check-wheel-content, and twine"
        run: "python -m pip install build twine check-wheel-contents"
      - name: "Build package"
        run: "python -m build --sdist --wheel ."
      - name: "List result"
        run: "ls -l dist"
      - name: "Check wheel contents"
        run: "check-wheel-contents dist/*.whl"
      - name: "Check long_description"
        run: "python -m twine check dist/*"

  install-dev:
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]

    name: "Verify dev env"
    runs-on: "${{ matrix.os }}"

    steps:
      - uses: "actions/checkout@v2"
        with:
          submodules: "recursive"
      - uses: "actions/setup-python@v2"
        with:
          python-version: "3.9"
      - name: "Install in dev mode"
        run: |
          python setup.py build
          python -m pip install -e .[dev]
      - name: "Import package"
        run: "python -c 'import argon2; print(argon2.__version__)'"
