name: wheels
on:
  workflow_dispatch:
    inputs:
      version:
        description: PyPI version (sdist already uploaded)
        required: true

jobs:
  manylinux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
        - name: cp27-cp27mu
          image: quay.io/pypa/manylinux1_x86_64
        - name: cp27-cp27m
          image: quay.io/pypa/manylinux1_x86_64
        - name: cp35-cp35m
          image: quay.io/pypa/manylinux1_x86_64
        - name: pp27-pypy_73
          image: pypywheels/manylinux2010-pypy_x86_64
        - name: pp36-pypy36_pp73
          image: pypywheels/manylinux2010-pypy_x86_64
        - name: pp37-pypy37_pp73
          image: pypywheels/manylinux2010-pypy_x86_64
    steps:
    - run: |
        mkdir dist
        podman run --rm \
          -v $PWD/dist:/dist:rw \
          ${{ matrix.image }} \
          bash -exc '\
            yum install -y libffi-devel && \
            /opt/python/${{ matrix.name }}/bin/pip wheel \
              --no-deps --wheel-dir /tmp/wheels --no-binary :all: \
              argon2-cffi==${{ github.event.inputs.version }} && \
            auditwheel repair /tmp/wheels/* --wheel-dir /dist && \
            find /dist -type f | xargs --verbose --replace unzip -l {} \
          '
      name: build wheel
    - uses: actions/upload-artifact@v2
      with:
        name: wheels-manylinux-${{ matrix.name }}
        path: dist/*.whl
  macos:
    runs-on: macos-latest
    strategy:
      matrix:
        include:
        - name: cp27
          py: "2.7"
        - name: cp35
          py: "3.5"
        - name: pp36
          py: pypy-3.6
        - name: pp37
          py: pypy-3.7
    steps:
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.py }}
    - run: python -m pip install --upgrade pip setuptools wheel
    - run: 'python -m pip wheel --no-deps --wheel-dir dist --no-binary :all: argon2-cffi==${{ github.event.inputs.version }}'
    - uses: actions/upload-artifact@v2
      with:
        name: wheels-macos-${{ matrix.name }}
        path: dist/*.whl
  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        include:
        - name: cp35-x86
          py: "3.5"
          arch: x86
        - name: cp35-x64
          py: "3.5"
          arch: x64
        - name: pp36
          py: pypy-3.6
          arch: x86
        - name: pp37
          py: pypy-3.7
          arch: x86
    steps:
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.py }}
        architecture: ${{ matrix.arch }}
    - run: python -m pip install --upgrade pip setuptools wheel
    - run: 'python -m pip wheel --no-deps --wheel-dir dist --no-binary :all: argon2-cffi==${{ github.event.inputs.version }}'
    - uses: actions/upload-artifact@v2
      with:
        name: wheels-windows-${{ matrix.name }}
        path: dist/*.whl
